body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(62, 61, 61);
}

p {
    color: white;
    font-weight: bold;
    text-align: center; 
    margin: 0;
    padding: 20px 0;
    font-size: 36px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.image-wrapper {
    position: relative;
    width: calc(50% - 5px);
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.image-wrapper:last-child {
    width: 100%;
}

.rounded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

@media (min-width: 768px) {
    .image-wrapper {
        width: calc(33.33% - 10px);
    }
    
    .image-wrapper:last-child {
        width: calc(33.33% - 10px);
    }
}